---
http_interactions:
- request:
    method: get
    uri: https://api.bitreserve.org/v0/reserve/transactions/a97bb994-6e24-4a89-b653-e0a6d0bcf634
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - 23b5857c-8b25-43ee-85aa-86aaf8f001ac
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1422367553'
    body:
      encoding: UTF-8
      string: '{"id":"a97bb994-6e24-4a89-b653-e0a6d0bcf634","type":"transfer","params":{"currency":"USD","margin":"0.00","pair":"USDUSD","rate":"1.00"},"denomination":{"amount":"1.00","currency":"USD"},"origin":{"amount":"1.00","base":"1.00","commission":"0.00","currency":"USD","fee":"0.00","rate":"1.00","sources":[{"id":"35325c99-edeb-4625-9cd8-f56d4783c352","amount":"1"}]},"destination":{"amount":"1.00","base":"1.00","commission":"0.00","currency":"USD","fee":"0.00","rate":"1.00"},"status":"cancelled","quotedAt":"2014-08-27T00:01:08.124Z","createdAt":"2014-08-27T00:01:11.616Z"}'
  recorded_at: Tue, 27 Jan 2015 14:00:53 GMT
recorded_with: VCR 2.9.3
