---
http_interactions:
- request:
    method: get
    uri: https://api.uphold.com/v0/reserve/statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <UPHOLD_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Uphold-Request-Id:
      - 96f0ec67-bab8-4d0c-af23-ee44c83d9f68
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1422381505'
    body:
      encoding: UTF-8
      string: '[{"currency":"BTC","values":[{"assets":"2956.170063","currency":"BTC","liabilities":"2100.194772","rate":"1.00"},{"assets":"782010.45","currency":"USD","liabilities":"555575.02","rate":"264.53500"},{"assets":"689330.03","currency":"EUR","liabilities":"489730.72","rate":"233.18231"},{"assets":"514768.42","currency":"GBP","liabilities":"365714.39","rate":"174.13280"},{"assets":"4881543.83","currency":"CNY","liabilities":"3468065.95","rate":"1651.30683"},{"assets":"92155630.48","currency":"JPY","liabilities":"65471460.44","rate":"31173.99480"},{"assets":"599.43912564","currency":"XAU","liabilities":"425.86822749","rate":"0.20277401"}],"totals":{"commissions":"107.23285","transactions":"25676.77009","assets":"4217.24016714","liabilities":"3475.47358198"}},{"currency":"USD","values":[{"assets":"1014.49210879","currency":"BTC","liabilities":"844.99087077","rate":"0.00378021"},{"assets":"268368.67","currency":"USD","liabilities":"223529.66","rate":"1.00"},{"assets":"236562.80","currency":"EUR","liabilities":"197037.91","rate":"0.88148"},{"assets":"176657.12","currency":"GBP","liabilities":"147141.27","rate":"0.65826"},{"assets":"1675237.75","currency":"CNY","liabilities":"1395339[...]
