---
http_interactions:
- request:
    method: get
    uri: https://api.uphold.com/v0/me/cards/d9cfb5ec-27b3-427a-8ee6-084a7c6b5d2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <UPHOLD_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Uphold-Request-Id:
      - c0b1263d-ff9c-4c39-b859-90dbd35cfb77
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '296'
      X-Ratelimit-Reset:
      - '1422368769'
    body:
      encoding: UTF-8
      string: '{"id":"d9cfb5ec-27b3-427a-8ee6-084a7c6b5d2a","address":{"bitcoin":"1JbnsnxESsu1bV3DV4DPCSNp15JQ6yCPgC"},"label":"USD
        card","currency":"USD","balance":"0.00","available":"0.00","lastTransactionAt":null,"position":2}'
  recorded_at: Tue, 27 Jan 2015 14:24:24 GMT
recorded_with: VCR 2.9.3
