---
http_interactions:
- request:
    method: get
    uri: https://api.bitreserve.org/v0/me/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - 6e96600b-1022-4e3a-9df5-83dfd2bd6150
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '298'
      X-Ratelimit-Reset:
      - '1422377193'
    body:
      encoding: UTF-8
      string: '[{"id":"6a0fc9d7-605b-43a3-8675-f1188ab2e005","firstName":null,"lastName":null,"company":"Group
        Buddies","emails":["mpalhas@groupbuddies.com"],"addresses":[],"name":""}]'
  recorded_at: Tue, 27 Jan 2015 16:41:55 GMT
recorded_with: VCR 2.9.3
