---
http_interactions:
- request:
    method: get
    uri: https://api.uphold.com/v0/me/contacts/6a0fc9d7-605b-43a3-8675-f1188ab2e005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <UPHOLD_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Uphold-Request-Id:
      - d3df9134-d3bc-47b3-b1ea-11e17d87fe32
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
      X-Ratelimit-Reset:
      - '1422377193'
    body:
      encoding: UTF-8
      string: '{"id":"6a0fc9d7-605b-43a3-8675-f1188ab2e005","firstName":null,"lastName":null,"company":"Group
        Buddies","emails":["mpalhas@groupbuddies.com"],"addresses":[],"name":""}'
  recorded_at: Tue, 27 Jan 2015 16:41:56 GMT
recorded_with: VCR 2.9.3
