---
http_interactions:
- request:
    method: post
    uri: https://api.bitreserve.org/v0/me/cards
    body:
      encoding: UTF-8
      string: label=New%20card&currency=EUR
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - fcb84723-e476-46aa-a1b3-41b70286f5e9
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
      X-Ratelimit-Reset:
      - '1422368769'
    body:
      encoding: UTF-8
      string: '{"id":"2249bb71-e255-4b00-a1bc-a0fcc869aa0a","address":{"bitcoin":"1KKEyb2fs5oeGKaycoa7EJRB9dWNUh2zu7"},"label":"New
        card","currency":"EUR","balance":"0.00","available":"0.00","lastTransactionAt":null,"position":8,"addresses":[{"id":"1KKEyb2fs5oeGKaycoa7EJRB9dWNUh2zu7","network":"bitcoin"}]}'
  recorded_at: Tue, 27 Jan 2015 14:23:48 GMT
recorded_with: VCR 2.9.3
