---
http_interactions:
- request:
    method: post
    uri: https://api.uphold.com/v0/me/contacts
    body:
      encoding: UTF-8
      string: firstName=first-name&lastName=last-name&emails[]=fake%40email.com&company=company-name
    headers:
      Authorization:
      - Bearer <UPHOLD_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Uphold-Request-Id:
      - 8862a788-7e9b-4553-b816-41cfaecf515a
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Reset:
      - '1422378639'
    body:
      encoding: UTF-8
      string: '{"id":"6a223e0d-8345-4153-9cc9-298ab5cab048","firstName":"first-name","lastName":"last-name","company":"company-name","emails":["fake@email.com"],"addresses":[],"name":"first-name
        last-name"}'
  recorded_at: Tue, 27 Jan 2015 17:05:39 GMT
recorded_with: VCR 2.9.3
