---
http_interactions:
- request:
    method: get
    uri: https://api.uphold.com/v0/me/phones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <UPHOLD_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Uphold-Request-Id:
      - b2d98db4-a2f6-4a4b-9e23-f6db41e7bc22
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '297'
      X-Ratelimit-Reset:
      - '1422367553'
    body:
      encoding: UTF-8
      string: '[{"id":"ecd5d5fa-dc92-4bb9-994a-1aca75dbb173","verified":"true","primary":"true","e164Masked":"+XXXXXXXXXX49","nationalMasked":"XXX
        XXX X49","internationalMasked":"+XXX XXX XXX X49"}]'
  recorded_at: Tue, 27 Jan 2015 14:02:27 GMT
recorded_with: VCR 2.9.3
