---
http_interactions:
- request:
    method: post
    uri: https://api.bitreserve.org/v0/me/cards/a4feff08-2977-40f8-a339-4f546ae5c7e2/transactions/9522034e-b844-4c89-8ee3-008ba042fa20/cancel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - 180e56c3-3a75-4a5b-af96-6b4969196097
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '289'
      X-Ratelimit-Reset:
      - '1422451344'
    body:
      encoding: UTF-8
      string: '{"id":"9522034e-b844-4c89-8ee3-008ba042fa20","type":"transfer","message":null,"denomination":{"pair":"BTCBTC","rate":"1.00","amount":"0.0001","currency":"BTC"},"origin":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","CardId":"a4feff08-2977-40f8-a339-4f546ae5c7e2","currency":"BTC","description":"Luis
        Ferreira","rate":"1.00","sources":[{"id":"e6615095-8a90-483a-b58b-c46391308a53","amount":"0.0001"}],"type":"card","username":"zamith"},"destination":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","currency":"BTC","description":"non-user@example.com","rate":"1.00","type":"email"},"status":"cancelled","params":{"type":"invite","pair":"BTCBTC","margin":"0.00","rate":"1.00","currency":"BTC","progress":"0","ttl":"30000"},"createdAt":"2015-01-28T13:18:14.904Z"}'
  recorded_at: Wed, 28 Jan 2015 13:18:17 GMT
recorded_with: VCR 2.9.3
