---
http_interactions:
- request:
    method: post
    uri: https://api.bitreserve.org/v0/me/cards/a4feff08-2977-40f8-a339-4f546ae5c7e2/transactions
    body:
      encoding: UTF-8
      string: card_id=a4feff08-2977-40f8-a339-4f546ae5c7e2&denomination[currency]=BTC&denomination[amount]=0.0001&destination=a0e20123-47c8-4784-9e71-0defb34d18a7
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - 2e8345c2-eca1-4fa8-ae13-63e029ee064d
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '293'
      X-Ratelimit-Reset:
      - '1422451344'
    body:
      encoding: UTF-8
      string: '{"id":"135a0708-898c-4de4-a5a0-58a463e0d7ab","type":"transfer","denomination":{"amount":"0.0001","currency":"BTC","rate":"1.00","pair":"BTCBTC"},"origin":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","CardId":"a4feff08-2977-40f8-a339-4f546ae5c7e2","currency":"BTC","description":"Luis
        Ferreira","rate":"1.00","sources":[],"type":"card","username":"zamith"},"destination":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","CardId":"a0e20123-47c8-4784-9e71-0defb34d18a7","currency":"BTC","description":"Luis
        Ferreira","rate":"1.00","type":"card","username":"zamith"},"status":"pending","params":{"type":"transfer","pair":"BTCBTC","margin":"0.00","rate":"1.00","currency":"BTC","ttl":30000}}'
  recorded_at: Wed, 28 Jan 2015 13:17:59 GMT
recorded_with: VCR 2.9.3
