---
http_interactions:
- request:
    method: post
    uri: https://api.bitreserve.org/v0/me/cards/a4feff08-2977-40f8-a339-4f546ae5c7e2/transactions
    body:
      encoding: UTF-8
      string: card_id=a4feff08-2977-40f8-a339-4f546ae5c7e2&denomination[currency]=BTC&denomination[amount]=0.0001&destination=non-user%40example.com
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - 3710bf77-cba3-4b7e-9783-7e70c076e502
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '291'
      X-Ratelimit-Reset:
      - '1422451344'
    body:
      encoding: UTF-8
      string: '{"id":"9522034e-b844-4c89-8ee3-008ba042fa20","type":"transfer","denomination":{"amount":"0.0001","currency":"BTC","rate":"1.00","pair":"BTCBTC"},"origin":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","CardId":"a4feff08-2977-40f8-a339-4f546ae5c7e2","currency":"BTC","description":"Luis
        Ferreira","rate":"1.00","sources":[],"type":"card","username":"zamith"},"destination":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","currency":"BTC","description":"non-user@example.com","rate":"1.00","type":"email"},"status":"pending","params":{"type":"invite","pair":"BTCBTC","margin":"0.00","rate":"1.00","currency":"BTC","ttl":30000}}'
  recorded_at: Wed, 28 Jan 2015 13:18:16 GMT
- request:
    method: post
    uri: https://api.bitreserve.org/v0/me/cards/a4feff08-2977-40f8-a339-4f546ae5c7e2/transactions/9522034e-b844-4c89-8ee3-008ba042fa20/commit
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Cs[...]
