---
http_interactions:
- request:
    method: post
    uri: https://api.bitreserve.org/v0/me/cards/a4feff08-2977-40f8-a339-4f546ae5c7e2/transactions/7125d576-9a48-4631-9ef4-d281620bb2a6/resend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <BITRESERVE_AUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Content-Security-Policy:
      - default-src "none"
      X-Webkit-Csp:
      - default-src "none"
      X-Bitreserve-Request-Id:
      - 78dc9659-eabe-4237-a829-20893cde420b
      X-Ratelimit-Limit:
      - '300'
      X-Ratelimit-Remaining:
      - '286'
      X-Ratelimit-Reset:
      - '1422451344'
    body:
      encoding: UTF-8
      string: '{"id":"7125d576-9a48-4631-9ef4-d281620bb2a6","type":"transfer","message":null,"denomination":{"pair":"BTCBTC","rate":"1.00","amount":"0.0001","currency":"BTC"},"origin":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","CardId":"a4feff08-2977-40f8-a339-4f546ae5c7e2","currency":"BTC","description":"Luis
        Ferreira","rate":"1.00","sources":[{"id":"e6615095-8a90-483a-b58b-c46391308a53","amount":"0.0001"}],"type":"card","username":"zamith"},"destination":{"base":"0.0001","commission":"0.00","fee":"0.00","amount":"0.0001","currency":"BTC","description":"non-user@example.com","rate":"1.00","type":"email"},"status":"waiting","params":{"type":"invite","pair":"BTCBTC","margin":"0.00","rate":"1.00","currency":"BTC","progress":"0","ttl":"30000"},"createdAt":"2015-01-28T13:18:20.192Z"}'
  recorded_at: Wed, 28 Jan 2015 13:18:22 GMT
recorded_with: VCR 2.9.3
